{% extends 'base.html' %}




{% block content %}
 <div class="row mt-3">
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">О магазине</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Контакты</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Интернет-магазин "Энергия"</h5>
    <p class="card-text">Интернет-магазин "Энергия" был создан, как локальная альтернатива (местная) более крупным аналогам. В "Энергии" реализована возможности поисковика товаров,
        корзина, быстрый предпросмотр товаров и оформление заказов. Для более приятной покупки, поиск по товарам можно производить по артикулам данных компонентов, которые также указаны
        на каждом продукте.
    </p>
    <a href="{% url 'base' %}" class="btn btn-success">Начать покупки</a>
  </div>
</div>
 </div>





{% endblock content %}