
{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5" style="color:#16e95c">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table">
  <thead>
    <tr class="table-light">
        <th scope="col"><p style="color:#8497e2">Наименование</p></th>
        <th scope="col"><p style="color:#8497e2">Артикул</p></th>
        <th scope="col"><p style="color:#8497e2">Изображение</p></th>
        <th scope="col"><p style="color:#8497e2">Цена</p></th>
        <th scope="col"><p style="color:#8497e2">Кол-во</p></th>
        <th scope="col"><p style="color:#8497e2">Итого</p></th>
        <th scope="col"><p style="color:#8497e2">Действие</p></th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr class="table-light">
          <th scope="row"><p style="color:#8497e2">{{ item.product.title }}<p></th>
          <th scope="row"><p style="color:#c07fe3">{{ item.product.vendor_code }}<p></th>
          <td class="w-25"><a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" class="img-fluid" alt=""></a></td>
          <td><p style="color:#3dbe81">{{ item.product.price }} руб.<p></td>
          <td>
            <form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
              {% csrf_token %}
              <input type="number" class="form-control" name="qty" style="width: 70px;" min="1" value="{{ item.qty }}">
              <br>
              <input type="submit" class="btn btn-primary" value="Изменить кол-во">
            </form>
          </td>
            <td><p style="color:#3dbe81">{{ item.final_price }} руб.</p></td>
          <td>
            <a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-danger">Удалить из корзины</button></a>
          </td>
        </tr>
    {% endfor %}
        <tr>
          <td colspan="3"></td>
            <td><p style="color:#13ab6f">Итого:</p></td>
          <td><p style="color:#13ab6f">{{ cart.total_products }}</p></td>
            <td><p style="color:#13ab6f"><strong>{{ cart.final_price }} руб.</strong></p></td>
          <td><a href="{% url 'checkout' %}"><button class="btn btn-success">Перейти к оформлению</button></a></td>
        </tr>
  </tbody>
</table>
{% endif %}
{% endblock content %}